<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="fa fa-facebook"> 
          <a href="https://www.facebook.com/TunisieAmigo/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" class="nav-link" target="_blank">Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="fa fa-instagram">
          <a href="https://www.instagram.com/amigo.tunisie/?igshid=YmMyMTA2M2Y%3D&fbclid=IwAR048DGPP1BqHS6GX6bQIZ31U32ODIjIGIJDOtrqztkDpr77XKcJVNkorZs" class="nav-link" target="_blank">Instagram</a>
        </li>
        <li class="fa fa-twitter">
          <a href= "https://twitter.com"class="nav-link" target="_blank">Twitter <i class="fa fa-heart" aria-hidden="true"></i>
          </a>
        </li>
       
      </ul>
      <div class="copyright pull-right">
        &copy; {{test | date: 'yyyy'}}, fabriqué avec <i class="fa fa-heart heart"></i> par <a href="https://www.amigo.tn/">Amigo</a>
      </div>
    </div>
    <div class="col-xl-6">
      <!-- Your other content on the right side, if any -->
      <div class="text-right">
        <app-chatbox></app-chatbox> <!-- This will render the ChatboxComponent here -->
      </div>
    </div>
  </div>
</footer>
